.header{
    background-color: #8A2BE2;
    height: 50px;
    text-align: center;
    color: aqua;
    font-family:'Segoe UI', sans-serif;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

}