footer {
    background-color: #2E0854;   /* morado oscuro */
    color: #fff;                 /* texto blanco */
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
    padding: 5px 0;
    margin-top: 40px;
    border-top: 1px solid #333;  /* línea superior opcional */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

}
